@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 15px;
  border: 0px;
}

* {
  font-family: "微软雅黑";
  box-sizing: border-box;
  outline: none;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'iconfont';
}

.iconfont {
  font-family: 'iconfont';
}

ul, li, ol, a {
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 96px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 109.86667px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 160px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 204.8px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 341.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 384px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 426.66667px;
  }
}

.outsite-d {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.outsite-d .a {
  width: 1.6rem;
  height: 1.6rem;
  background: #FFCB0C;
  position: absolute;
  top: -0.7rem;
  left: -0.5;
  transform: rotate(45deg);
  z-index: 4;
}

.outsite-d .a .wen {
  color: #fff;
  position: fixed;
  top: 0.9rem;
  left: 0.5rem;
  font-size: 25px;
  transform: rotate(-45deg);
}

.outsite-d .b {
  width: 1rem;
  height: 0.4rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
  z-index: 500;
}

.outsite-d .b .con-a {
  width: 50%;
  height: 100%;
  float: left;
  background: #FFCB0C;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
}

.outsite-d .b .iconfont {
  background: #5F6062;
  color: #fff;
}

.outsite-d .b .cehua-a {
  width: 2rem;
  height: 3.6rem;
  background: #5F6062;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  opacity: 0;
  transform: translateX(2rem);
  transition: all 1s;
}

.outsite-d .b .cehua-a .list-a {
  width: 100%;
  height: 0.6rem;
  border-bottom: 1px solid #6C6C6C;
  line-height: 0.6rem;
}

.outsite-d .b .cehua-a .list-a .iconfont {
  color: #fff;
  float: left;
  margin-left: 0.25rem;
  font-size: 25px;
}

.outsite-d .b .cehua-a .list-a .list-b {
  float: left;
  color: #fff;
  margin-left: 0.2rem;
  font-size: 18px;
}

.outsite-d .nav {
  width: 100%;
  height: 0.4rem;
  background: rgba(102, 102, 102, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.outsite-d .nav .footer {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 0.4rem;
}

.outsite-d .nav .footer .aaa {
  color: #fff;
}

.outsite-d .nav .footer .iconfont {
  color: #fff;
  font-size: 25px;
  display: none;
}

@keyframes dong-a {
  from {
    opacity: 0;
    right: -1rem;
  }
  to {
    opacity: 1;
    right: 0.1rem;
  }
}

.outsite-d .phone {
  width: 0.5rem;
  height: 1.5rem;
  position: fixed;
  right: 0.1rem;
  bottom: 2rem;
  color: #FFCB0C;
  animation: dong-a 3s;
}

.outsite-d .phone .iconfont {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  font-size: 50px;
  margin-top: 0.2rem;
}

.outsite-d .website {
  width: 100%;
  height: 100%;
}

.outsite-d .website .website-a {
  width: 100%;
  height: 100%;
}

@keyframes hua-a {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 0.4;
    left: 0;
  }
}

@keyframes hua-b {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.outsite-d .zhe {
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 2rem;
  left: 0;
  animation: hua-a 2s;
}

.outsite-d .zhezhao {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 2rem;
  left: 0;
  animation: hua-b 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.outsite-d .zhezhao .zhezhao-a {
  font-size: 30px;
  color: #fff;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

.outsite-d .zhezhao .zhezhao-b {
  color: #fff;
  margin-left: 0.3rem;
  font-family: "宋体";
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 0.03rem;
}

.outsite-d .zhezhao .zhezhao-c {
  color: #fff;
  margin-left: 0.3rem;
  margin-top: 0.15rem;
}

.outsite-d .zhezhao .zhezhao-d {
  color: #fff;
  margin-left: 0.3rem;
  margin-top: 0.05rem;
}
